.service-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 5rem;
}

.service-intro {
    font-size: 2.8rem;
    padding-bottom: 5rem;
    font-weight: bold;
}

.service-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
}

.service-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0.8rem;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.2 ease-in-out;
}

.service-card:hover{
    transform: scale(1.02);
    transition: all 0.2 ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .service-card {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .service-card {
        width: 100%;
    }
}

.service-icons {
    height: 170px;
    width: 170px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
}