
.estimate-section__container {
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 7rem;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: cover;
    width: 45%;
    height: 80%;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.estimate-section__wrapper {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
   .estimate-section__wrapper {
       flex-direction: column;
       padding: 3rem 1rem;
   }
}

.estimate-section__photo {
    width: 45%;
    height: 80%;
}

@media screen and (max-width: 768px) {
    .estimate-section__photo {
        width: 80%;
        height: 100%;
    }
}

.estimate-section__content {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 4em;
}

.estimate-section__topline {
    color: #3F51B5;
    font-size: 20px;
    line-height: inherit;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
    .estimate-section__topline {
        font-size: 16px;
    }    
}

.estimate-section__headline {
    color: #000;
    margin-bottom: .3em;
    font-size: 2.1em;
    line-height: 1.1;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .estimate-section__headline {
        font-size: 32px;
    }
}

.estimate-section__subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 24px;
}