.info-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 7rem;
}

.info-section__wrapper {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
   .info-section__wrapper {
       flex-direction: column;
       padding: 3rem 1rem;
   }
}

.info-section__photo {
    width: 45%;
    height: 80%;
}

@media screen and (max-width: 768px) {
    .info-section__photo {
        width: 80%;
        height: 100%;
    }
}

.info-section__content {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2em;
}

.info-section__topline {
    color: #3F51B5;
    font-size: 20px;
    line-height: inherit;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
    .info-section__topline {
        font-size: 16px;
    }    
}

.info-section__headline {
    color: #000;
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .info-section__headline {
        font-size: 32px;
    }
}

.info-section__subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 24px;
}